name: Job

on:
  repository_dispatch:
    types:
      - update
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: oven-sh/setup-bun@main
        with:
          bun-version: latest

      - uses: actions/checkout@master

      - run: bun i
      - run: bunx tsx scripts/crons/index.ts
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      - uses: EndBug/add-and-commit@main
        with:
          author_name: Bot
          author_email: bot@users.noreply.github.com
          message: Update Data
          pull: '-r --autostash'
