name: Send

on:
  workflow_run:
    workflows: [Job]
    types:
      - completed

  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: write

    steps:
      - uses: oven-sh/setup-bun@main
        with:
          bun-version: latest
          bun-download-url: 'https://github.com/oven-sh/bun/releases/latest/download/bun-linux-x64.zip'

      - uses: actions/checkout@master

      - run: bun i
      - run: bun run tsx scripts/crons/send.ts
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          GITHUB_PAT: ${{ secrets.PAT }}
          GITHUB_PAT_2: ${{ secrets.PAT_2 }}

      - uses: stefanzweifel/git-auto-commit-action@master
        with:
          commit_author: Actions Bot <actions@github.com>
          skip_fetch: true

      - run: bun run tsx scripts/crons/run.ts
        env:
          GITHUB_PAT: ${{ secrets.PAT }}
          GITHUB_PAT_2: ${{ secrets.PAT_2 }}
