name: Send

on:
  workflow_run:
    workflows: [Job]
    types:
      - completed
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - uses: oven-sh/setup-bun@main
        with:
          bun-version: latest

      - uses: actions/checkout@master

      - run: bun i
      - run: bunx tsx scripts/crons/send.ts
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          GITHUB_PAT: ${{ secrets.PAT }}

      - uses: EndBug/add-and-commit@main
        with:
          author_name: Bot
          author_email: bot@users.noreply.github.com
          message: Update State
          fetch: false
          # pull: '--rebase --autostash'

      - run: bunx tsx scripts/crons/run.ts
        env:
          GITHUB_PAT: ${{ secrets.PAT }}
