name: Token

on:
  workflow_dispatch:

  push:
    branches:
      - main

  # cron once every monday, thursday
  schedule:
    - cron: '0 0 * * 1,4'

jobs:
  token:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    permissions:
      contents: write

    steps:
      - uses: oven-sh/setup-bun@main
        with:
          bun-version: latest

      - uses: actions/checkout@master

      - run: bun i
      - run: bun run tsx scripts/crons/token.ts

      - uses: EndBug/add-and-commit@main
        with:
          author_name: Bot
          author_email: bot@users.noreply.github.com
          message: Update Token
          # pull: '--rebase --autostash'
